@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
    background-color: #090F5F;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction:row ;
    align-items: center;
}
.center-div{
    background-color: #050844;
    color: white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 2rem 0 4rem 0;
    border: none;
    height:70%;
    width: 60%;
    align-items: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', sans-serif;
}
h1{
    font-size: 75px;
}
label {
    font-size: 20px;
    color: white;
}
.inline {
    display: inline-block;
    align-items: baseline;
    padding: 10px 10px 0 10px;
}
.group {
    display: flex;
    flex-direction: row !important;
    margin-right: 178px;
    font-size: 15px !important;
    padding-bottom: 10px;
}
input{
    border:none;
    border-radius: 3px;
    font-size: 30px;
    margin: 5px;
    font-family: 'Lato', sans-serif;

}
.checkbox{
    display:flex;
    flex-direction: row !important;
    font-size: 20px;
    margin-right: 23rem;
}
.login{
    font-size: 25px;
    border:none;
    border-radius: 3px;
    margin: 15px 9rem 15px 0;
    background-color: transparent;
    color: white;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    transition: all ease-in-out 0.25s;
}
.bottom{
    display:flex;
    flex-direction: row !important;
    align-items: stretch !important;
    padding-top: 2rem;
}
button{
    font-size: 25px !important;
    margin: 15px;
    background-color: transparent;
    color: white;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    transition: all ease-in-out 0.25s;
    border: none;
}
button:hover {
    color: gray;
    font-weight: bolder;
}

#signup-form, #login-form{
    display:flex;
    flex-direction: column;
    align-items: center;
}
